/opencv_bootcamp_assets_NB6/race_car_out.mp4
/opencv_bootcamp_assets_NB6/race_car_out.avi
/opencv_bootcamp_assets_NB6/race_car_out_x264.mp4
/opencv_bootcamp_assets_NB13/images/*
/opencv_bootcamp_assets_NB13/models/*
